Source: android-system-google-sargo-bin
Maintainer: Eugenio Paolantonio (g7) <me@medesimo.eu>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 13),
               curl,
               tar,
               xz-utils
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/hybris-mobian/android-system-google-sargo-bin
Vcs-Git: https://github.com/hybris-mobian-releng/android-system-google-sargo-bin.git

Package: android-system-google-sargo
Architecture: arm64
Depends: ${misc:Depends}
Provides: android-system-image
Conflicts: android-system-gsi-28
Description: Android System Image - google-sargo
 This package provides a working Android system image for Google Pixel 3a.
